*{
    scroll-behavior: smooth;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    font-family: 'Rubik', sans-serif;
}

h1, h2, h3, h4{
    font-family: 'Rubik', sans-serif;
}

h6{
    font-family: 'Rubik';
    font-size: 1rem;
    font-weight: 300;
}

p{
    font-family: 'Raleway', sans-serif;
    font-size: 0.8rem;
    color: #0D0D0D;
    font-weight: 600;
}

/* Cabecera */

.cabecera{
    display: flex;
    position: sticky;
    top: 0px;
    background-color:#0D0D0D;
    align-content: center;
    justify-content: space-between;
    flex-direction: row;
    height: 15vh;
    width: 100%;
    z-index: 100;
}

.cajaLogo{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    margin-left: 1rem;
    flex-direction: row;
}    

.cajaSocial{
    margin-right: 2rem;
    display: flex;
    flex-direction: row;
    column-gap: 1rem;
    align-items: center;
}

.itemSocial{
    color: #F25C05;
    font-size: 1.5rem;
    
}

.itemSocial:hover{
    color: #94BF75;
}

.img__logo{
    width: 130px;
    max-width:100%;
    height: auto;
}

.img__foto{
    width: 110px;
    border-radius: 100px;
    max-width: 100%;
    height: auto;
}

.cajaLogo h2{
    color: white;
    font-size: 1.2rem;
    font-family: 'Rubik';
    font-weight: 100;
    margin: 5px;
}

.cajaNav{
    display: flex;
    padding-left: 1rem;
    margin-right: 2rem;
    justify-content:space-between;
    align-items: center;
    flex-direction: row;
    gap: 1rem;
}

.navtext{ 
    color:white;
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: bold;
    font-family: 'raleway';
    display: block;
}

.cajaNav a:hover{
    color: #94BF75;
}

/* Acerca */

.seccionAcerca{
    background-image: linear-gradient(to right,rgb(0 0 0 /.5),rgb(0 0 0 /.5)), url("/Assets/imagenes/Foto_portada.jpg");
    background-repeat: no-repeat;
    height:95vh;
    width: 100%;
    display: flex;
    justify-content:flex-end;
    align-items:center;
}

.contenidoPrimario{
    width: 50%;
    text-align: left;
    color: white;
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    margin-right: 10rem;
}

.contenidoPrimario p{
    font-size: 1.2rem;
    color:white;
    text-align: left;
    margin-bottom: 2rem;
    background-color: #000000;
    opacity: 0.7;
    border-left: #94BF75 solid 3px;
    padding: 1rem;
}

.contenidoPrimario h1{
    margin-bottom: 2rem;
    border-bottom: solid #F25C05 3px;
    font-size: 2.5rem;
    background-color: #000000;
    opacity: 0.7;
    padding: 0.5rem 1rem;
}

.contenidoPrimario h2{
    margin-bottom: 1rem;
    background-color: #000000;
    opacity: 0.7;
    padding: 1rem;
}

/* Antecedentes Laborales */

.seccionAntecedentes{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    padding-top: 18vh;
}

.tituloAntecedentes{
    margin-bottom: 1.5rem;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.tituloAntecedentes h2{
    font-size: 3rem;
    border-bottom: solid 3px #F25C05;
}

.contenedorAntecedentes{
    height: 70vh;
    width: 80%;
    display: flex;
    justify-content: space-around;
    align-content: flex-start;
    column-gap: 2rem;
}

.tarjetaAntecedentes{
    display: flex;
    border: solid #F25C05 4px;
    border-radius: 25px;
    width: 27%;
    height: 85%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.contImg{
    width: 80%;
    display: flex;
    justify-content: center; 
}

.tarjetaImg{
    width: 200px;
    max-width: 100%;
    height: auto;
}

.cajaTitulo{
    border-bottom: #96c93e solid 5px;
    width: 100%;
    margin-top: -10px;
    display: flex;
    justify-content: center;
    font-family: 'Rubik';
    font-size: 1.3rem;
}


.contTexto{
    display: flex;
    height: 100%;
}

.contTexto p{
    width:100%;
    font-size: 0.8rem;
    /* font-weight: 600; */
    letter-spacing: 1.5px;
    margin: 0.5rem;
    line-height: 120%;
}

/*Formación académica*/

.formacion{
    display: flex;
    height: 100vh;
    padding-top: 14vh;
}

.fotoFormacion{
    display: flex;
    width: 50%;
}

.fotoFormacion img{
    width: 100%;
}

.formacionDos{
    height: 100%;
    width: 50%;
    display: flex;
    color: #0D0D0D;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    font-size: 1rem;
    line-height: 1rem;
}

.formacionDos div{
    width: 95%;
    margin: 1rem;
}

.formacionDos p{
    font-size: 0.9rem;
    font-weight: 600;
    letter-spacing: 1.5px;
}

.tituloFormacion{
    align-items: center;
    padding: 1rem;
    width: 100%;
    display: flex;
    justify-content: center;
}

.tituloFormacion h2{
    font-size: 2.2rem;
    color: #0D0D0D;
    font-family: 'Rubik',sans-serif;
    border-bottom: #F25C05 solid 3px;
    padding-bottom: 0.8rem;
}

.programacion{
    height: 45%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.formacionDos h3{
    font-size: 1.3rem;
    border-bottom: #96c93e solid 2px;
    padding-bottom: .5rem;
    margin: 0.5rem;
}

.logosFormacion{
    width: 100%;
    display: flex;
    justify-content: space-around;
    font-size: 2.5rem;
    color: gray;
}

/*contacto*/

.seccionFormulario{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin-bottom: 1rem;
    padding-top: 3rem;
    row-gap: 1rem;
    font-size: 1.1rem;
    height: 70vh;
}

.formIzquierda{
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.tituloForm{
    border-bottom: #96c93e solid 3px;
    width: 100%;
    display: flex;
    height: 10%;
    font-family: 'Rubik';
    font-size: 1.5rem;
    justify-content: center;
    align-items: center;
}

.formTexto{
    display: flex;
    height: 20%;
    width: 100%;
    padding: 0.5rem 0 0 1rem;
    
}

.formTexto p{
    font-size: 1rem;
    font-weight: 600;
}


.formu{
    display: flex;
    height: 80%;
    flex-direction: column;
    width: 100%;
    justify-content: flex-start;
}

.etiqueta{
    color: #96c93e;
    width: 100%;
    padding: 0.5rem 0;
    font-size: 1.2rem;
}

.input-text{
    width: 100%;
    font-size: 1rem;
    border: #F25C05 3px solid;
    margin-bottom: 10px;
    padding-left: 1rem;
    height: 2.5rem;
    outline: none;
    border-radius: 5px;
}

.input-text:focus{
    background-color: #F25C05;
    border: #96c93e 3px solid;
    opacity: 0.5;
}

.mensajeForm{
    resize: none;
    height: 6rem;
    width: 100%;
    font-size: 1rem;
    border: #F25C05 3px solid;
    outline: none;
    border-radius: 5px;
    padding: 1rem;
    margin-bottom: 1rem;
}

.mensajeForm:focus{
    background-color: #F25C05;
    border: #96c93e 3px solid;
    opacity: 0.7;
}

.boton{
    background-color: #F25C05;
    border: solid 3px #96c93e;
    border-radius: 5px;
    color: #0D0D0D;
    height: 45px;
    width: 30%;
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;
}

.boton:hover{
    background-color: #96c93e;
    color: #0D0D0D;
    border: #F25C05 solid 3px;
}

.formDerecha{
    width: 65%;
    display: flex;
    flex-direction: column;
    height: 85vh;
    padding: 20px;
}

.datosForm{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 1rem;
}

.contInfo{
    padding: 1rem;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #0D0D0D;
}

.contInfo:hover{
    background-color:#96c93e;
    color: #fff;
    border-radius: 25px;
}

.contInfo:hover p{
    color: white;
}

.contInfo h6{
    margin-top: 2rem;
}

.contInfo a{
    text-decoration: none;
    color: #0D0D0D;
}

.contInfo:hover a{
    color: white;
}

.contacIcono{
    background-color: #0D0D0D;
    color: #F25C05;
    font-size: 2rem;
    padding: 0.5rem;
    border-radius: 25px;
}

.contMapa{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 50%;
}

.mapaForm{
    width: 100%;
    height: 85%;
    display: flex;
    justify-content: center;
}

.mapaTexto{
    display: flex;
    width: 100%;
    height: 15%;
    align-items: center;
    letter-spacing: 1px;
    line-height: 1.5rem;
    justify-content: center;
}

.mapaTexto p{
    font-size: 1rem;
    font-weight: 600;
}

/* footer */
.pie{
    background-color: #022601;
    display: flex;
    padding: 1rem;
    width:100%;
    align-items:center;
    /* justify-content: center; */
    position: fixed;
    bottom: 0;
    height: 8vh;
    width: 100%;
    z-index: 50;
}

.pietext{ 
    color:white;
    text-decoration: none;
    font-size: 1rem;
}


/* corte #1 */
/*para notebook de hasta 1030px de ancho*/
@media screen and (max-width:1030px){

.cabecera{
    height: 10vh;
}

.cajaSocial{
    margin-right: 2rem;
    display: flex;
    flex-direction: row;
    column-gap: 1rem;
    align-items: center;
}

.itemSocial{
    font-size: 1rem;    
}

.img__logo{
    width: 45px;
}

.img__foto{
    width: 45px;
}

.cajaLogo h2{
    font-size: 0.9rem;
}

.cajaNav{
    gap: 0.5rem;
}

.navtext{ 
    font-size: 0.8rem;
}

/*Acerca*/

.contenidoPrimario h1{
    margin-bottom: 1rem;
    font-size: 2rem;
}

.contenidoPrimario h2{
font-size: 1.3rem;
}

.contenidoPrimario p{
    font-size: 1rem;
}


/* Antecedentes Laborales */

.seccionAntecedentes{
    padding-top: 10vh;
}

.tituloAntecedentes h2{
    font-size: 2rem;
}

.contenedorAntecedentes{
    flex-direction: column;
    row-gap: 1rem;
}

.tarjetaAntecedentes{
    width: 100%;
    height: 30%;
    flex-direction: row;
}

.contImg{
    width: 70%;
    align-items: flex-end; 
    padding-left: 5px;
}

.tarjetaImg{
    width: 60px;
}

.cajaTitulo{
    border-right: #96c93e solid 3px;
    border-bottom: none;
    height: 100%;
    font-size: 1rem;
    margin-top: 0px;
    display: flex;
    align-items: center;
}

.contTexto p{
    font-size: 0.7rem;
}

/*Formación académica*/

.formacion{
    padding-top: 8vh;
}

.tituloFormacion h2{
    font-size: 1.8rem;   
}

.formacionDos h3{
    font-size: 1rem;
}

.logosFormacion{
    font-size: 2rem;
}

/*contacto*/

.seccionFormulario{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin-bottom: 1rem;
    row-gap: 0.8rem;
    font-size: 1rem;
    height: 93vh;
}

.tituloForm{
    font-size: 1.3rem;
}

.formTexto p{
    font-size: 0.8rem;
    font-weight: 600;
}

.etiqueta{
    font-size: 1rem;
}

.input-text{
    font-size: 0.8rem;
    height: 2.1rem;
}

.mensajeForm{
    height: 5rem;
    font-size: 0.8rem;
}

.boton{
    height: 40px;
    font-size: 0.8rem;
}

.contInfo h6{
    margin-top: 1.5rem;
}

.contacIcono{
    font-size: 1.5rem;
}


.mapaForm{
    height: 75%;
}

.mapaTexto{
    line-height: 1.2rem;
}

.mapaTexto p{
    font-size: 0.7rem;
}

/* footer */
.pie{
    height: 7vh;
}

.pietext{
    font-size: 0.7rem;
}
}

/* corte #2 */
/*para celular de hasta 767pxpx de ancho*/
@media screen and (max-width:767px){



}